h1{color:brown;
    font-size: 50pxl;
    text-align: center;
    background-color: #030303;

    
}
p{color:darkgreen;
    background-color: darkturquoise;
    
}
a{color:darkturquoise;
    font-size: 80pxl;
}
